<div class="home__container">
  <app-card
    gameCover="assets/bt-5.jpg"
    gameTitle="Battlefiel V"
    gameLabel="Digital"
    gameInfo="Play it Now!"
    gameType="PS4"
    gamePrice="R$ 399,99"
  >
  </app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameTitle="Assassin's Creed"
    gameLabel="Exclusive"
    gameInfo="Play Exclusively"
    gameType="PS4 | PS5 | Digital"
    gamePrice="R$ 159,99"
  >
  </app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameTitle="Assassin's Creed"
    gameLabel="Exclusive"
    gameInfo="Play Exclusively"
    gameType="PS4 | PS5 | Digital"
    gamePrice="R$ 159,99"
  >
  </app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameTitle="Assassin's Creed"
    gameLabel="Exclusive"
    gameInfo="Play Exclusively"
    gameType="PS4 | PS5 | Digital"
    gamePrice="R$ 159,99"
  >
  </app-card>
</div>
